**/.env
**/.env.backup
**/.env.production
**/vendor/
**/node_modules/
**/public/build/
**/public/hot
**/public/storage/
**/storage/*.key
**/storage/pail/
**/storage/framework/cache/
**/storage/framework/sessions/
**/storage/framework/testing/
**/storage/framework/views/
**/storage/logs/
**/bootstrap/cache/*.php
**/database/*.sqlite
**/.phpunit.cache/
**/.phpunit.result.cache
**/auth.json
npm-debug.log
yarn-error.log
.idea/
.vscode/
.zed/
.DS_Store
